# --------- pytorch --------- #
torch==2.2.2
torchvision>=0.15.0
lightning==2.2.2
torchmetrics>=0.11.4
# --------- loggers --------- #
wandb

# ---------- others --------- #
miditok
pandas
numpy
transformers
numba
